<template>

    <div v-if="loaded" class="information">

        <table>
            <col>
            <colgroup span="2"></colgroup>
            <tr>
                <th colspan="2" scope="colgroup">Libros</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Saldo</td>
                <td>{{balance}} COP</td>
            </tr>
            <tr>
                <td>Correo electrónico</td>
                <td> {{email}} </td>
            </tr>    

        </table> 
     <br />  
        <table>
            <col>
            <colgroup span="2"></colgroup>
            <tr>
                <th colspan="2" scope="colgroup">Tesis</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Saldo</td>
                <td>{{balance}} COP</td>
            </tr>
            <tr>
                <td>Correo electrónico</td>
                <td> {{email}} </td>
            </tr>    

        </table>    

    </div>

</template>


<script>
import jwt_decode from "jwt-decode";
import axios from 'axios';

export default {
    name: "Account",

    data: function(){
        return {
            name: "",
            email: "",
            balance: 0,
            loaded: false,
        }
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
			}

            await this.verifyToken();
            
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            
            axios.get(`https://pruebap51.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.name = result.data.name;
                    this.email = result.data.email;	
                    this.balance = result.data.account.balance;
                    this.loaded = true;
                    })
                .catch(() => {
                    this.$emit('logOut');
                });
        },

        verifyToken: function () {
            return axios.post("https://pruebap51.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})
				.then((result) => {
					localStorage.setItem("token_access", result.data.access);		
				})
				.catch(() => {
					this.$emit('logOut');
				});
        }
    },

    created: async function(){
        this.getData();
    },
}
</script>


<style>
    .information{
        margin: 0;
        padding: 2%;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center;
    }

    .information table{
        border: 3px solid #283747;
    }

    .information table th{
        font-size: 20px;
        border: 2px solid #283747;
        border-top: none;
    }

    .information h2{
        font-size: 40px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }
</style>