<template>
   
    <div class="greetings">
        <h1>Bienvenido <span> {{username}} </span>!</h1>
                </div>
     
<div class="carousel1">

<div class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide" >  <h3 style="margin:50px">
          Gran colección de libros universitarios.
        </h3>
      <div class="carousel__snapper">
          
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide"><h3 style="margin:50px">
          Selección de la mejor calidad!
        </h3>
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide" > <img src="https://t3.ftcdn.net/jpg/02/95/66/84/240_F_295668448_4OzIQyHd4JjBYoiHN5cNy8TrlBZLRu0M.jpg">
      <div class="carousel__snapper"><h3 style="margin:50px"> 
          Ingrese a cuenta tema para encontrar su libro favorito.
        </h3></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide"> <img src="https://t4.ftcdn.net/jpg/03/52/51/19/240_F_352511960_S14tY2nw0ejY3KHfDgOvyNQa3h9x8m1Q.jpg">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 45</a>
      </li>
    </ol>
  </aside>
</div>
</div>


</template>

<script>
    export default {
        name: "Home",
        data: function(){
        return {
            username: localStorage.getItem('username') || "none"}
        }
 
    }
</script>
<style>





 /* .greetings{
    margin: 0.5%;
    padding: 0%;
    height: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
 }
 .greetings h1{
    font-size: 20px;
    color: #283747;
 }
 .greetings span{
    color: rgb(165, 28, 55);
    font-weight: bold;
 } */


@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel1 {
  width: 57.5rem;
  margin: 0 auto;
  padding: 0 8.25rem;
  font-family: 'Lato', sans-serif;
}

.carousel1 {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel1 ::-webkit-scrollbar {
  width: 0;
}

.carousel1 ::-webkit-scrollbar-track {
  background: transparent;
}

.carousel1 ::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.carousel1 {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  /* width: 100%; */
  width: 100px; height: 240px;
  background-image: url("https://t3.ftcdn.net/jpg/02/96/20/48/240_F_296204840_LiqCXuWlA9eK143ssThacIQ5WJnO5iBH.jpg" );
  
                    
  /* counter-increment: item; */
}

.carousel__slide:nth-child(even) {
  background-image:url("https://t4.ftcdn.net/jpg/02/90/68/61/240_F_290686179_SatVC3hoXLHdfNe0HPGdgkqp5aiiaUit.jpg" ) ;
}

.carousel__slide:before {
  /* content: counter(item); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
 
  
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
 top: 50%;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f3400a;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}


.carousel__navigation-button:hover {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #b97114;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}


.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 19.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}


.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #b30e29;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}




.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

    .greetings{
        margin: 0;
        padding: 0%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .greetings h1{
        font-size: 40px;
        color: #283747;
    }

    .greetings span{
        color: #cf0d1d;
        font-weight: bold;
    }

</style>