<template>
 <body class="login">
    <div class="logIn_user">
        <div class="container_logIn_user">
            <h2>Iniciar sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
                <label for="username">Username</label><input id="username" name="username" type="text" v-model="user.username" placeholder="Username">
                <br>
                <label for="password">Password</label><input id="password" name="password" type="password" v-model="user.password" placeholder="password">
                <br>
                <button type="submit">Iniciar Sesion</button>
            </form>
        </div>

    </div>
</body>
</template>

<script>
import axios from 'axios';

export default {
    name: "LogIn",

    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },

    methods: {
        processLogInUser: function(){
            axios.post(
                "https://pruebap51.herokuapp.com/login/", 
                this.user,  
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });
        }
    }
}
</script>

<style>


.login {

   font-family: Arial;
    background-color: #504b4b;
    background-image: url('https://blogger.googleusercontent.com/img/a/AVvXsEinL7aBvkzb3Lbk-pTbN5poYHngaZokjD-c2Kjf0sAtNV77EpZKxxRktiQRi1pfUYAfhlcU_AQxybAOT_3w9_U9OuDB2ZG7jIvriM66CFr2Jw3rq7UApLLLhY-LcleY8OgsUKDFdqTlcZTdugInQtx_fYZfk87et8jwvVdCzkqVu4jDnP48Bbh7_yhKdg=w320-h320');
    image-rendering: crisp-edges;
}

    .logIn_user{
        margin: 0;
        padding: 1%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f0e5e5;
    }

    .container_logIn_user {
        border: 3px solid  #d1caca;
        border-radius: 10px;
        width: 40%;
        height: 60%;
        background-color: rgb(158, 22, 44);
        

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .logIn_user h2{
        color: #eaf0f0;

    }

    .logIn_user form{
        width: 70%;
        
    }

    .logIn_user input{
        height: 40px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #0f0f0f;
    }

    .logIn_user button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
    }

    .logIn_user button:hover{
        color: #E5E7E9;
        background: rgb(194, 39, 70);
        border: 1px solid #283747;
    }

</style>