<template>
<body class="login1">
    <div class="signUp_userl">
        <div class="container_signUp_userl">
            <h2>Registrarse</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                
                <input type="text" v-model="user.name" placeholder="Name">
                <br>

                <input type="email" v-model="user.email" placeholder="Email">
                <br>

              

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>
</body>
</template>

<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                account: {
                    lastChangeDate: (new Date()).toJSON().toString(),
                    balance: 0,
                    isActive: true
                }
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://pruebap51.herokuapp.com/user/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el registro.");
                    
                    
                });
        }
    }
}
</script>

<style>

.login1 {

   font-family: Arial;
    background-color: #9c1c1c;
    background-image: url('https://blogger.googleusercontent.com/img/a/AVvXsEinL7aBvkzb3Lbk-pTbN5poYHngaZokjD-c2Kjf0sAtNV77EpZKxxRktiQRi1pfUYAfhlcU_AQxybAOT_3w9_U9OuDB2ZG7jIvriM66CFr2Jw3rq7UApLLLhY-LcleY8OgsUKDFdqTlcZTdugInQtx_fYZfk87et8jwvVdCzkqVu4jDnP48Bbh7_yhKdg=w320-h320');
    image-rendering: crisp-edges;
}

    .signUp_userl{
        margin: 0;
        padding: 1%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_signUp_userl {
        border: 3px solid  #f0eaea;
        border-radius: 10px;
        width: 25%;
        height: 70%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #413032;
    }

    .signUp_userl h2{
        color: #ebe0e1;

    }

    .signUp_userl form{
        width: 80%;
        
    }

    .signUp_userl input{
        height: 40px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #47282a;
    }

    .signUp_userl button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }

    .signUp_userl button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #094e97;
    }

</style>