

<template>
  <body class="login3">
    <div class="signUp_userA">
      <div class="container_signUp_userA">
        <h2>
          <fa
            icon="book-reader"
            pull="right"
            :style="{ color: 'RED' }"
          />Agregar libros
        </h2>    

        <form v-on:submit.prevent="processSubirLibros">
          <input v-model="libro.title" type="text" placeholder="Title" />
          <br />

          <!-- <input v-model="libro.faculty" type="text" placeholder="Faculty" /> -->
          <select v-model="libro.faculty" type="text"  placeholder="Faculty" > 
          <option value = "" disable selected hidden >Seleccione facultad</option >
          <option value = "0" >N/A</option >
          <option value = "1" >Ciencia y Tecnología</option >
          <option value = "2" >Bellas Artes</option >
          <option value = "3" >Educación</option >
          <option value = "4" >Ciencias Sociales</option >
          <option value = "5" >Ingeniería</option >
          </select>
          <br />

          <input v-model="libro.abstract" type="text" placeholder="Abstract" />
          <br />

          <input
            v-model="libro.editorial"
            type="text"
            placeholder="Editorial"
          />
          <br />
          <input v-model="libro.author_or_authors" type="text" placeholder="Author" />
          <br />
          <input v-model="libro.key_words" type="text" placeholder="Key words" />
          <br />
          <input v-model="libro.url" type="url" placeholder="URL" />
          <br />

          <input type="file" id="libroFile" name="libroFile" />
          <br />
          <button type="submit">Registrar libro</button>
        </form>
      </div>
    </div>
  </body>
</template>

<script>
import axios from 'axios';

export default {
  name: "SubirLibros",
  data: function () {
    return {
     
      libro: {
        title: "",
        faculty: "",
        abstract: "",
        editorial: "",
        author_or_authors: "",
        key_words: "",
        url: "",
      },
    };
  },
  methods: {
    processSubirLibros: function () {
      axios.post
      ('https://repositoryc3g1.herokuapp.com/booklist/', this.libro, {
          headers: {}
        })
        .then((result) => {
          let libroNuevo = {
            titulo: this.libro.title,
          };
          alert("se registro exitosamente");
        })

        .catch((error) => {
          console.log(error);

          alert("no se registro el libro");
        });
    }
  }
}
</script>




// Falta script para unir con el back

<style>
.login3 {
  background-image: url("https://blogger.googleusercontent.com/img/a/AVvXsEinL7aBvkzb3Lbk-pTbN5poYHngaZokjD-c2Kjf0sAtNV77EpZKxxRktiQRi1pfUYAfhlcU_AQxybAOT_3w9_U9OuDB2ZG7jIvriM66CFr2Jw3rq7UApLLLhY-LcleY8OgsUKDFdqTlcZTdugInQtx_fYZfk87et8jwvVdCzkqVu4jDnP48Bbh7_yhKdg=w320-h320");
  font-family: Arial;
  background-color: #9c1c1c;
  
  image-rendering: crisp-edges;
}
.signUp_userA {
  margin: 0;
  padding: 1%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_signUp_userA {
  border: 3px solid #e5e9ee;
  border-radius: 10px;
  width: 60%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #413032;
}

.signUp_userA h2 {
  color: #ffffff;
}

.signUp_userA form {
  width: 70%;
}

.signUp_userA input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #283747;
}

.signUp_userA button {
  width: 100%;
  height: 40px;

  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}

.signUp_userA button:hover {
  color: #e5e7e9;
  background: crimson;
  border: 1px solid #283747;
}
</style>