<template>
  <div id="app" class="app">

    

    <div class="header">

      <a href="#"><img src="https://blogger.googleusercontent.com/img/a/AVvXsEinL7aBvkzb3Lbk-pTbN5poYHngaZokjD-c2Kjf0sAtNV77EpZKxxRktiQRi1pfUYAfhlcU_AQxybAOT_3w9_U9OuDB2ZG7jIvriM66CFr2Jw3rq7UApLLLhY-LcleY8OgsUKDFdqTlcZTdugInQtx_fYZfk87et8jwvVdCzkqVu4jDnP48Bbh7_yhKdg=w320-h320"></a>


      <h1 > <a href="#">La Universidad </a> </h1>
      <h1><a href="#">Admisiones</a> </h1>
      <h1><a href="#">Facultades </a></h1>
      <h1><a href="#">Investigación </a></h1>

      <nav>
	    

        <fa icon="user-graduate" class="fa-1x"  /> 
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
       
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
        <button v-if="is_auth" v-on:click="loadSubirLibros" > Libros</button>
        <button v-if="is_auth" v-on:click="loadSubirTesis" > Tesis</button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
      </nav>
    </div>
    
 <div class="cuerpo">
  
     </div>
    <div class="main-component">
       

      <div class="main">
        
      <h2 class="TITULO">Repositorio Institucional UDV </h2> 
      <h3>Bienvenido al Repositorio Institucional de la Universidad DLa Vida. Esta herramienta, recoge, conserva y distribuye la producción digital de carácter científico, académico y cultural de nuestra alma máter, con el propósito fundamental de difundir nuestras producciones académicas.</h3> 
      </div>
      
<br> 

      <div class="searchBox">

        

				<input class="searchInput" type="text" name="" placeholder="Buscar..">
				<button class="searchButton" href="#">
					<i  >
						<fa icon="search" class="fa-2x"   /> 

					</i>

				</button>
       
	</div> 
  
<br> <br>
<br> 

  <div class=header4>
      <p >
        <a href="#"><fa icon="book-open"/><i>  </i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#"><fa icon="school"/><i> </i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
				<a href="#"><fa icon="laptop-code"/><i> </i></a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <a href="#"><fa icon="book-reader"/><i> </i></a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        

				</p>
      	</div>



      <div class=header3>
      
           <a href="#">Documentos Institucionales<i> </i></a>&nbsp; 	
				  <a href="#">Producción Editorial<i> </i></a>&nbsp; 	
				  <a href="#">Recursos Digitales<i> </i></a>&nbsp; 	
          <a href="#">Trabajos y Tesis de Grado<i> </i></a>&nbsp; 	
        
      </div>
<br>
        
		 
      
     
    </div>

    <div  class=registros >
   <router-view  
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut" >   
      </router-view>  
      
      </div>
     

    <div class="footer-distributed">

			<div class="footer-left">
      

				<h3><fa icon="book" class="fa-x" />&nbsp;UDV<span>&nbsp;Colombia</span></h3>

				<p class="footer-links">
					<a href="#">Inicio</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Nuestras sedes</a>
					·
					
					
					<a href="#">FAQ</a>
					·
					<a href="#">Contáctanos</a>
				</p>

        <p class="footer-company-name"><fa icon="envelope"/>&nbsp;infobibliotecas@udlavida.edu.co</p>
        <p class="footer-company-name" >Subdirección de Bibliotecas</p>
        <p class="footer-company-name" >Dirección: Colombian streets</p>
				<p class="footer-company-name" >Universidad de la vida © 2021</p>
      
				<div class="footer-icons">

				<a href="#"><i> <fa icon="paper-plane"/></i></a>&nbsp; 
				<a href="#"><i> <fa icon="map-marker-alt"/></i></a>&nbsp; 
				<a href="#"><i> <fa icon="award"/></i></a>&nbsp; 
				<a href="#"><i> <fa icon="child"/></i></a>&nbsp; 

				</div>

			</div>

			<div class="footer-right">

				
     

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Email">
					<textarea name="message" placeholder="Mensaje"></textarea>
					<button><fa icon="paper-plane"/>&nbsp; Enviar</button>
 <p><fa icon="envelope"/>&nbsp;PBX (57-1) 8548787 </p>
 
				</form>

			</div>

		</div>      
	<div class="footer">
    
      <h2>Misión TIC 2021<span>&nbsp;Grupo#1 P51_C3</span></h2>
    </div>

  </div>
</template>
 

<script>
export default {
  name: 'App',

  data: function(){
      return{
        is_auth: false
      }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false)
         this.$router.push({ name: "logIn" });
      else
         this.$router.push({ name: "home" });
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    loadSubirLibros: function(){
      this.$router.push({name: "SubirLibros"})
    },
    loadSubirTesis: function(){
      this.$router.push({name: "SubirTesis"})
    },
    completedLogIn: function(data) {
        localStorage.setItem("isAuth", true);
        localStorage.setItem("username", data.username);
        localStorage.setItem("token_access", data.token_access);
        localStorage.setItem("token_refresh", data.token_refresh);
        alert("Autenticación Exitosa");
        this.verifyAuth();
    },

    completedSignUp: function(data) {
        alert("Registro Exitoso");
        this.completedLogIn(data);

    },

    loadHome: function(){
      this.$router.push({name: "home"});
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    loadAccount: function () {
      this.$router.push({ name: "account" });
    },

  },

  created: function(){
    this.verifyAuth()
  }

}
</script>
    
<style>
.cuerpo {

    height: 0.5vh; 
    min-height: 1px;
    background-color: #9e7a7c;
   
   
}

 
a {
    color: white
  }

  body{
    margin: 0 0 0 0;
  }

  .header {
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;

    background-color: #b93514 ;
    color:#E5E7E9  ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45% ; 
  }

  .header h1{
    width: 20%;
    text-align: center;
  }


 .header2{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;

    background-color:white ;
    color:#121213  ;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


  }

  .header3  a{

    margin: 4%;
    padding: 1%;
    width: 90%;
    height: 10vh; 
    min-height: 100px;

    color: rgb(12, 46, 99);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:110% ;
    font-style: italic; 
    align-items: center;
 }

 .header4  a{

    margin: 4%;
    padding: 3.5%;
    width: 100%;
    height: 5vh; 
    min-height: 100px;

    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    
    

  color: rgba(29, 28, 28, 0.664)  ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:410% ;
  font-style: italic; 

 }

  .header nav {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 20px;
  }

  .header nav button{
    color: whitesmoke;
    background: #a50c28;
    border: 1px solid #E5E7E9;

    border-radius: 5px;
    padding: 10px 5px;
  }

  .header nav  button:hover{
    color: #af0e0e;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
    cursor: pointer;
    
  }

 .main h2{

  color:red;

    }



  .main-component{
    height:95vh;
    margin: 0%;
    padding: 0%;
  
    background: rgb(255, 255, 255) ;
    
  }
.main  {
    height: 17vh;
    margin: 5%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background:WHITE ;
 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
    color:#121213;
  }
 

	


  

  .footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2vh;
    min-height: 30px; 
	

    background-color: #d1222b;
    color: #E5E7E9;

  }

 .footer span{
   
    color: #c4ccd4;

  }



  .footer h2{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* 
  Footer */
  
.footer-distributed {
	background: rgb(114, 33, 33);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto';
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #e3e5e7;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 32px;
	color:whitesmoke;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
   background-color: #b9142a;
  
}

.footer-distributed .footer-links a:hover{
   color: #963646;
  
}

.footer-distributed .footer-right button:hover{
   background-color: #330410;
}
/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:red;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}



@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px ;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}

 	
}

/* Barra buscadora */

.searchBox {
    position: absolute;
    left: 28%;   
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 40%;
    justify-content: center;

}

.searchBox:hover > .searchInput {
    width: 160px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}



    



.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}




</style>
