* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial;
    background-color: #9B0202;
    background-image: url('https://blogger.googleusercontent.com/img/a/AVvXsEinL7aBvkzb3Lbk-pTbN5poYHngaZokjD-c2Kjf0sAtNV77EpZKxxRktiQRi1pfUYAfhlcU_AQxybAOT_3w9_U9OuDB2ZG7jIvriM66CFr2Jw3rq7UApLLLhY-LcleY8OgsUKDFdqTlcZTdugInQtx_fYZfk87et8jwvVdCzkqVu4jDnP48Bbh7_yhKdg=w320-h320');
    image-rendering: crisp-edges;
}



.form-login {

    width: 400px;
    height: 360px;
    background: gray;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #600707
    color white;


}

.form-login h5 {

    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;

}

.controls {

    width: 100%;
    border: 1px solid  #600707;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #000;
    font-size: 14px;
    font-weight: bold;
    color: rgb(116, 112, 141);

}

.buttons {

    width: 100%;
    height: 40px;
    background: white;
    border: black;
    color: #000;
    margin-bottom: 16px;
    
}

.form-login p{

    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    color: black;
}

.form-login a{

    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;



}